<div class="flex flex-row">
  <!-- Start::app-sidebar -->
  <app-sidebar (menuSelected)="onMenuSelected($event)"></app-sidebar>
  <!-- End::app-sidebar -->

  <!-- Start::submenu-navigation -->
  <aside *ngIf="submenuVisible && selectedMenuItem && selectedMenuItem.children" app-submenu [visible]="submenuVisible" [menu]="selectedMenuItem" (itemClicked)="onMenuSelected($event)"></aside>
  <!-- End::submenu-navigation -->

  <!-- Start::app-content -->
  <div class="flex-1 position-relative" [class.with-submenu]="selectedMenuItem && selectedMenuItem.children">
    <!-- Start::app-header -->
    <app-header [class.with-submenu]="selectedMenuItem && selectedMenuItem.children" (toggleSidebar)="onToggleSidebar()"></app-header>
    <!-- End::app-header -->
    <div class="w-100">
      <router-outlet></router-outlet>
      <!-- Start::app-footer -->
      <app-footer></app-footer>
      <!-- End::app-footer -->
    </div>


  </div>
  <!-- End::app-content -->


</div>

<!-- global UI components -->
<app-toasts></app-toasts>
<app-loading-overlay></app-loading-overlay>
