/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Import template styles */
/* Uncomment these after verifying the files exist */
@import './assets/styles.css';
/* Commented out icons.css - using Material Icons instead */
/* @import './assets/icons.css'; */
@import './assets/waves.min.css';
@import './assets/simplebar.min.css';
@import './assets/flatpickr.min.css';
@import './assets/nano.min.css';
@import './assets/choices.min.css';
/* Commented out autoComplete.css - missing search.svg image */
/* @import './assets/autoComplete.css'; */

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

