<!-- Start:: row-1 -->
<div class="row">
  <div class="col-xxl-9">
    <div class="row">
      <div class="col-xl-3">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="card custom-card dashboard-main-card overflow-hidden primary">
              <div class="card-body">
                <div class="d-flex align-items-start gap-3">
                  <div class="flex-fill">
                    <span class="fs-13 fw-medium">Total Revenue</span>
                    <h4 class="fw-semibold my-2 lh-1">$46,658</h4>
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="fs-12 d-block text-muted">
                        <span class="text-success me-1 d-inline-flex align-items-center fw-semibold">
                          <i class="material-icons me-1">trending_up</i>0.45%
                        </span>
                        this month
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="avatar avatar-md bg-primary-transparent svg-primary">
                      <i class="material-icons">shopping_bag</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card custom-card dashboard-main-card overflow-hidden secondary">
              <div class="card-body">
                <div class="d-flex align-items-start gap-3">
                  <div class="flex-fill">
                    <span class="fs-13 fw-medium">Refund Requests</span>
                    <h4 class="fw-semibold my-2 lh-1">4,654</h4>
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="fs-12 d-block text-muted">
                        <span class="text-danger me-1 d-inline-flex align-items-center fw-medium">
                          <i class="material-icons me-1">trending_up</i>4.43%
                        </span>
                        this month
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="avatar avatar-md bg-secondary-transparent svg-secondary">
                      <i class="material-icons">assignment_return</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card custom-card dashboard-main-card overflow-hidden warning">
              <div class="card-body p-4">
                <div class="d-flex align-items-start gap-3">
                  <div class="flex-fill">
                    <span class="fs-13 fw-medium">Total Orders</span>
                    <h4 class="fw-semibold my-2 lh-1">25,853</h4>
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="fs-12 d-block text-muted">
                        <span class="text-success me-1 d-inline-flex align-items-center fw-medium">
                          <i class="material-icons me-1">trending_up</i>1.25%
                        </span>
                        this month
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="avatar avatar-md bg-warning-transparent svg-warning">
                      <i class="material-icons">shopping_cart</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card custom-card dashboard-main-card overflow-hidden success">
              <div class="card-body p-4">
                <div class="d-flex align-items-start gap-3">
                  <div class="flex-fill">
                    <span class="fs-13 fw-medium">Total Visitors</span>
                    <h4 class="fw-semibold my-2 lh-1">63,744</h4>
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="fs-12 d-block text-muted">
                        <span class="text-success me-1 d-inline-flex align-items-center fw-medium">
                          <i class="material-icons me-1">trending_up</i>2.97%
                        </span>
                        this month
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="avatar avatar-md bg-success-transparent svg-success">
                      <i class="material-icons">people</i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9">
        <div class="card custom-card">
          <div class="card-header justify-content-between">
            <div class="card-title">Sales Overview</div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary-light btn-wave waves-effect waves-light">Day</button>
              <button type="button" class="btn btn-primary-light btn-wave waves-effect waves-light">Week</button>
              <button type="button" class="btn btn-primary btn-wave waves-effect waves-light">Month</button>
              <button type="button" class="btn btn-primary-light btn-wave waves-effect waves-light">Year</button>
            </div>
          </div>
          <div class="card-body pb-0 pt-5">
            <div id="sales-overview" style="min-height: 380px;">
              <p class="text-center text-muted">Sales Overview Chart will be integrated here</p>
            </div>
          </div>
          <div class="card-footer bg-light p-0">
            <div class="row g-0 w-100">
              <div class="col-sm-4 border-sm-end">
                <div class="p-3 text-center">
                  <span class="d-block text-muted mb-1">Total Orders</span>
                  <h6 class="fw-semibold mb-0">15,535</h6>
                </div>
              </div>
              <div class="col-sm-4 border-sm-end">
                <div class="p-3 text-center">
                  <span class="d-block text-muted mb-1">Total Sales</span>
                  <h6 class="fw-semibold mb-0">21,754</h6>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="p-3 text-center">
                  <span class="d-block text-muted mb-1">Revenue Earned</span>
                  <h6 class="fw-semibold mb-0">$1.8M</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3">
    <div class="row">
      <div class="col-xl-12">
        <div class="card custom-card shadow-none card-bg-primary overflow-hidden dashboard-banner-card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between gap-3">
              <div>
                <h5 class="fw-semibold mb-1 text-fixed-white">Hi, Tom Phillip 👋</h5>
                <span class="d-block fs-14 mb-3 pe-5 text-fixed-white">Check out the latest sales updates.</span>
                <a href="javascript:void(0)" class="btn btn-secondary btn-wave mt-1 waves-effect waves-light">
                  Upgrade To Pro <i class="material-icons">arrow_forward</i>
                </a>
              </div>
              <div class="dashboard-banner-image d-sm-block d-none">
                <i class="material-icons" style="font-size: 100px; opacity: 0.3;">dashboard</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
  <div class="col-xxl-3 col-md-6">
    <div class="card custom-card overflow-hidden">
      <div class="card-header justify-content-between">
        <div class="card-title">Top Selling Products</div>
        <a href="javascript:void(0);" class="text-muted fs-12 text-decoration-underline">View All<i class="material-icons">arrow_forward</i></a>
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex align-items-center gap-3">
              <div class="lh-1">
                <span class="avatar avatar-lg bg-light border border-dashed p-1">
                  <i class="material-icons">access_time</i>
                </span>
              </div>
              <div class="flex-fill">
                <span class="fw-semibold mb-1 d-block">TaoTronics Wall Clock</span>
                <div class="d-flex align-items-center gap-2 fw-medium">
                  <div class="fs-12 text-muted">$699</div>
                  <div class="vr"></div>
                  <span class="text-success fs-12"><i class="material-icons me-1">circle</i>In Stock</span>
                </div>
              </div>
              <div class="text-end">
                <span class="d-block fw-semibold">1000</span>
                <span class="fs-12 d-block text-muted">Sales</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center gap-3">
              <div class="lh-1">
                <span class="avatar avatar-lg bg-light border border-dashed p-1">
                  <i class="material-icons">checkroom</i>
                </span>
              </div>
              <div class="flex-fill">
                <span class="fw-semibold mb-1 d-block">Club Fleece Hoodie</span>
                <div class="d-flex align-items-center gap-2 fw-medium">
                  <div class="fs-12 text-muted">$55</div>
                  <div class="vr"></div>
                  <span class="text-success fs-12"><i class="material-icons me-1">circle</i>In Stock</span>
                </div>
              </div>
              <div class="text-end">
                <span class="d-block fw-semibold">3,100</span>
                <span class="fs-12 d-block text-muted">Sales</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-6">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">Recent Activity</div>
        <a href="javascript:void(0);" class="text-muted fs-12 text-decoration-underline">View All<i class="material-icons">arrow_forward</i></a>
      </div>
      <div class="card-body px-sm-5">
        <ul class="list-unstyled recent-activity-list">
          <li>
            <div class="recent-activity-time text-end">
              <span class="fw-semibold d-block">24,Nov</span>
              <span class="d-block text-muted fs-12">08:45 AM</span>
            </div>
            <div>
              <span class="d-block fs-13 mt-1">
                John Doe placed an order for <span class="fw-medium text-primary">5x Apple iPhone 14</span>
              </span>
            </div>
          </li>
          <li>
            <div class="recent-activity-time text-end">
              <span class="fw-semibold d-block">24,Nov</span>
              <span class="d-block text-muted fs-12">09:15 AM</span>
            </div>
            <div>
              <span class="d-block fs-13 mt-1">
                Payment of <span class="fw-medium text-default">$1,250.00</span> received from <span class="fw-medium text-default">Alice Smith</span> for <span class="fw-medium text-warning">Order #1020</span>.
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">Top Customers</div>
        <a href="javascript:void(0);" class="text-muted fs-12 text-decoration-underline">View All<i class="material-icons">arrow_forward</i></a>
      </div>
      <div class="card-body">
        <ul class="list-unstyled top-customers-list">
          <li>
            <div class="d-flex align-items-center gap-3 flex-wrap">
              <div class="lh-1">
                <span class="avatar avatar-md bg-primary-transparent">JS</span>
              </div>
              <div class="flex-fill">
                <span class="d-block fw-semibold">Jane Smith</span>
                <span class="fs-12 text-muted">janesmith215&#64;gmail.com</span>
              </div>
              <div class="text-end">
                <div class="fw-semibold text-primary mb-0">$23,755</div>
                <span class="fs-12 text-muted">Spent</span>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center gap-3 flex-wrap">
              <div class="lh-1">
                <span class="avatar avatar-md bg-secondary-transparent">JD</span>
              </div>
              <div class="flex-fill">
                <span class="d-block fw-semibold">Jhon Doe</span>
                <span class="fs-12 text-muted">jhondoe431&#64;gmail.com</span>
              </div>
              <div class="text-end">
                <div class="fw-semibold text-secondary mb-0">$14,563</div>
                <span class="fs-12 text-muted">Spent</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6">
    <div class="card custom-card overflow-hidden">
      <div class="card-header justify-content-between">
        <div class="card-title">Top User Channels</div>
        <div class="dropdown">
          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-light" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Month</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-unstyled top-user-channels-list">
          <li>
            <div class="d-flex align-items-center gap-3 flex-wrap">
              <div class="lh-1">
                <span class="avatar avatar-md bg-light">
                  <i class="material-icons text-primary">cloud</i>
                </span>
              </div>
              <div class="flex-fill">
                <span class="d-block fw-semibold">CloudComm</span>
                <span class="text-muted fs-12">Digital Communication</span>
              </div>
              <div class="text-end">
                <div class="d-flex align-items-center gap-2 mb-2">
                  <span class="fs-12 text-success fw-medium"><i class="material-icons">arrow_upward</i>2.98%</span>
                  <div class="fw-semibold">3,765</div>
                </div>
                <div class="progress progress-xs progress-animate bg-primary-transparent" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-primary" style="width: 75%"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center gap-3 flex-wrap">
              <div class="lh-1">
                <span class="avatar avatar-md bg-light">
                  <i class="material-icons text-secondary">waves</i>
                </span>
              </div>
              <div class="flex-fill">
                <span class="d-block fw-semibold">BuzzWave</span>
                <span class="text-muted fs-12">Social Media</span>
              </div>
              <div class="text-end">
                <div class="d-flex align-items-center gap-2 mb-2">
                  <span class="fs-12 text-danger fw-medium"><i class="material-icons">arrow_downward</i>6.45%</span>
                  <div class="fw-semibold">2,855</div>
                </div>
                <div class="progress progress-xs progress-animate bg-secondary-transparent" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-secondary" style="width: 45%"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
  <div class="col-xl-8">
    <div class="card custom-card overflow-hidden">
      <div class="card-header justify-content-between">
        <div class="card-title">Recent Invoices</div>
        <div class="d-flex flex-wrap gap-2">
          <div class="dropdown custom-invoice">
            <a href="javascript:void(0);" class="btn btn-outline-light btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false">
              Filters<i class="material-icons ms-1">arrow_drop_down</i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="javascript:void(0);">New</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li>
            </ul>
          </div>
          <div>
            <input class="form-control" type="text" placeholder="Search Here" aria-label="Search">
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table text-nowrap table-hover">
            <thead>
              <tr>
                <th><input class="form-check-input" type="checkbox" id="checkboxAll" value="" aria-label="..."></th>
                <th>ID</th>
                <th>Customer</th>
                <th>Ordered Date</th>
                <th>Items</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="form-check-input" type="checkbox" id="checkbox1" value="" aria-label="..." checked=""></td>
                <td>#SPK231</td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <div class="lh-1">
                      <span class="avatar avatar-sm avatar-rounded bg-primary">JS</span>
                    </div>
                    <div>
                      <span class="d-block fw-semibold">Jane Smith</span>
                      <span class="fs-12 d-block text-muted">janesmith213&#64;gmail.com</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>27,Aug 2024</div>
                  <div class="text-muted fs-12">12:45PM</div>
                </td>
                <td>
                  <div class="avatar-list-stacked">
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                  </div>
                </td>
                <td>$1,249</td>
                <td><span class="badge bg-success-transparent">Paid</span></td>
                <td>
                  <div class="dropdown custom-invoice">
                    <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-light border" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:void(0);"><i class="material-icons me-2">visibility</i>View</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);"><i class="material-icons me-2">edit</i>Edit</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);"><i class="material-icons me-2">delete</i>Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td><input class="form-check-input" type="checkbox" id="checkbox2" value="" aria-label="..." checked=""></td>
                <td>#SPK421</td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <div class="lh-1">
                      <span class="avatar avatar-sm avatar-rounded bg-secondary">JD</span>
                    </div>
                    <div>
                      <span class="d-block fw-semibold">Jhon Doe</span>
                      <span class="fs-12 d-block text-muted">jhondoe865&#64;gmail.com</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>16,Sep 2024</div>
                  <div class="fs-12 text-muted">11:15AM</div>
                </td>
                <td>
                  <div class="avatar-list-stacked">
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                  </div>
                </td>
                <td>$3,299</td>
                <td><span class="badge bg-warning-transparent">Pending</span></td>
                <td>
                  <div class="dropdown custom-invoice">
                    <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-light border" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:void(0);"><i class="material-icons me-2">visibility</i>View</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);"><i class="material-icons me-2">edit</i>Edit</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);"><i class="material-icons me-2">delete</i>Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex align-items-center flex-wrap">
          <div>Showing 5 Entries <i class="material-icons ms-2 fw-semibold">arrow_forward</i></div>
          <div class="ms-auto">
            <nav aria-label="Page navigation" class="pagination-style-2">
              <ul class="pagination mb-0 flex-wrap">
                <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">Prev</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="material-icons">more_horiz</i></a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">17</a></li>
                <li class="page-item"><a class="page-link text-primary" href="javascript:void(0);">next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card custom-card overflow-hidden">
      <div class="card-header justify-content-between">
        <div class="card-title">Recent Transactions</div>
        <div class="dropdown">
          <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-light border" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Month</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li>
          </ul>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th>Order</th>
                <th>Price</th>
                <th class="text-end">Products</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="flex-fill">
                    <div><span class="fw-semibold">Order Id</span> - #SPK1234</div>
                    <div class="d-flex align-items-center gap-2 fw-medium">
                      <div class="fs-12 text-muted">4 Items</div>
                      <div class="vr"></div>
                      <span class="badge bg-success-transparent"><i class="material-icons me-1">check</i>Paid</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block fw-semibold">$150.00</span>
                    <span class="d-block fs-12 text-muted">2024-08-27</span>
                  </div>
                </td>
                <td>
                  <div class="avatar-list-stacked text-end">
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <a class="avatar bg-primary avatar-rounded avatar-sm text-fixed-white" href="javascript:void(0);">+2</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="flex-fill">
                    <div><span class="fw-semibold">Order Id</span> - #SPK7432</div>
                    <div class="d-flex align-items-center gap-2 fw-medium">
                      <div class="fs-12 text-muted">3 Items</div>
                      <div class="vr"></div>
                      <span class="badge bg-warning-transparent"><i class="material-icons me-1">schedule</i>Pending</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block fw-semibold">$75.00</span>
                    <span class="d-block fs-12 text-muted">2024-08-26</span>
                  </div>
                </td>
                <td>
                  <div class="avatar-list-stacked text-end">
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                    <span class="avatar avatar-rounded avatar-sm bg-light"><i class="material-icons">image</i></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-3 -->
